# Exclude all .idea folder contents
.idea/

# Except the following files:
!.idea/modules.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/encodings.xml
!.idea/libraries/
!.idea/runConfigurations/

# Exclude user-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/usage.statistics.xml
.idea/shelf/


# Environments
.wenv
.venv
env/
venv/

# PyBuilder
.pybuilder/

#Test
.pytest_cache/
